<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="Mail"
     connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFileName=F:\GeekBrains\C# 3 level\Lesson_3\CSharp-level-3\Lesson_3\MailSender\MailSender\Mail.mdf;Integrated Security=True;"
     providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>